cmake-build-*/
.idea/
build/
build_**
latest
latest_build
install/
log/
logs/
.venv/
venv/
.env
*.bkp

software/hexapod_stm32f405/Middlewares/microros/

micro_ros_stm32cubemx_utils/

.clinerules/
.cache/
