cmake-build-*/
.idea/
build/
build_**
latest
latest_build
install/
software/hexapod_ros_ws/log
logs/
.venv/
venv/
.env
*.bkp

software/hexapod_stm32f405/Middlewares/microros/

software/micro_ros_stm32cubemx_utils/

.clinerules/
.cache/
